<a href="https://colab.research.google.com/github/Siryeong/MachineLearning/blob/main/ml_hw8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
### data Download
!wget http://www.iro.umontreal.ca/~lisa/deep/data/mnist/mnist.pkl.gz

--2021-11-07 07:11:46--  http://www.iro.umontreal.ca/~lisa/deep/data/mnist/mnist.pkl.gz
Resolving www.iro.umontreal.ca (www.iro.umontreal.ca)... 132.204.26.36
Connecting to www.iro.umontreal.ca (www.iro.umontreal.ca)|132.204.26.36|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16168813 (15M) [application/x-gzip]
Saving to: ‘mnist.pkl.gz’

mnist.pkl.gz        100%[===================>]  15.42M  18.5MB/s    in 0.8s

2021-11-07 07:11:48 (18.5 MB/s) - ‘mnist.pkl.gz’ saved [16168813/16168813]

In [2]:
import six.moves.cPickle as pickle
import gzip
import os
import numpy as np
#import scipy.misc
from PIL import Image

### definition
def load_data(dataset):
  ''' Loads the dataset

  :type dataset: string
  :param dataset: the path to the dataset (here MNIST)
  
  copied from http://deeplearning.net/ and revised by hchoi
  '''

  # Download the MNIST dataset if it is not present
  data_dir, data_file = os.path.split(dataset)
  if data_dir == "" and not os.path.isfile(dataset):
    # Check if dataset is in the data directory.
    new_path = os.path.join(
      os.path.split(__file__)[0],
      dataset
    )
    if os.path.isfile(new_path) or data_file == 'mnist.pkl.gz':
      dataset = new_path

  if (not os.path.isfile(dataset)) and data_file == 'mnist.pkl.gz':
    from six.moves import urllib
    origin = (
      'http://www.iro.umontreal.ca/~lisa/deep/data/mnist/mnist.pkl.gz'
    )
    print('Downloading data from %s' % origin)
    urllib.request.urlretrieve(origin, dataset)

  print('... loading data')

  # Load the dataset
  with gzip.open(dataset, 'rb') as f:
    try:
      train_set, valid_set, test_set = pickle.load(f, encoding='latin1')
    except:
      train_set, valid_set, test_set = pickle.load(f)
  return train_set, valid_set, test_set

In [3]:
train_set, val_set, test_set = load_data('mnist.pkl.gz')
train_x, train_y = train_set
test_x, test_y = test_set

print(train_x.shape)
print(train_y.shape)

... loading data
(50000, 784)
(50000,)

# kNN algorithm

In [38]:
### kNN implement
import pandas as pd
import numpy as np
import math

def get_dist(a, b):
  distance = 0.0
  for i in range(len(a)):
    distance += (a[i] - b[i])**2
  return distance

def fit(train_set, test_data):
  length = len(train_set)
  dist = []
  for i in range(length):
    dist.append([i, get_dist(train_set[i], test_data)])
  dist = sorted(dist, key=lambda x:x[1])
  return dist

def kNN(label, dist, n_neighbors = 1):
  index = []
  for i in range(n_neighbors):
    index.append(dist[i][0])

  tmp = label[index]
  prob = np.zeros(10)
  for i in tmp:
    prob[i] += 1
  prob = prob/n_neighbors

  return prob

### raw image

In [55]:
selected = np.random.randint(0, 10000, 5)

In [67]:
test_y[selected]

array([7, 5, 4, 4, 3])

In [56]:
sel_x = test_x[selected]
dists = []
for i in range(5):
  dist = fit(train_x, sel_x[i])
  dists.append(dist)
  print("{}/5 done..".format(i+1))

1/5 done..
2/5 done..
3/5 done..
4/5 done..
5/5 done..

In [68]:
### 1 neighbor
probs = []
for i in range(5):
  probs.append(kNN(train_y, dists[i], 1))
result = pd.DataFrame(probs, columns=['0','1','2','3','4','5','6','7','8','9'])
result.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0

In [69]:
### 5 neighbor
probs = []
for i in range(5):
  probs.append(kNN(train_y, dists[i], 5))
result = pd.DataFrame(probs, columns=['0','1','2','3','4','5','6','7','8','9'])
result.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0

In [70]:
### 10 neighbor
probs = []
for i in range(5):
  probs.append(kNN(train_y, dists[i], 10))
result = pd.DataFrame(probs, columns=['0','1','2','3','4','5','6','7','8','9'])
result.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.9  0.0  0.0  0.0  0.0  0.1
3  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.9  0.0  0.1  0.0  0.0  0.0  0.0

## 2dim space

In [91]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
train_x2d = pca.fit_transform(train_x)
test_x2d = pca.fit_transform(test_x)

In [92]:
sel_x2d = test_x2d[selected]
dists_2d = []
for i in range(5):
  dist = fit(train_x2d, sel_x2d[i])
  dists_2d.append(dist)
  print("{}/5 done..".format(i+1))

1/5 done..
2/5 done..
3/5 done..
4/5 done..
5/5 done..

In [93]:
### 1 neighbor
probs = []
for i in range(5):
  probs.append(kNN(train_y, dists_2d[i], 1))
result = pd.DataFrame(probs, columns=['0','1','2','3','4','5','6','7','8','9'])
result.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0
1  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0

In [94]:
### 5 neighbor
probs = []
for i in range(5):
  probs.append(kNN(train_y, dists_2d[i], 5))
result = pd.DataFrame(probs, columns=['0','1','2','3','4','5','6','7','8','9'])
result.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.4  0.0  0.0  0.0  0.0  0.0  0.2  0.0  0.4
1  0.0  0.0  0.2  0.2  0.0  0.4  0.0  0.0  0.2  0.0
2  0.0  0.0  0.6  0.0  0.0  0.0  0.0  0.0  0.4  0.0
3  0.0  0.0  0.0  0.8  0.0  0.2  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.2  0.2  0.0  0.2  0.0  0.4

In [96]:
### 10 neighbor
probs = []
for i in range(5):
  probs.append(kNN(train_y, dists_2d[i], 10))
result = pd.DataFrame(probs, columns=['0','1','2','3','4','5','6','7','8','9'])
result.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.2  0.2  0.0  0.1  0.0  0.0  0.2  0.0  0.3
1  0.0  0.0  0.1  0.2  0.0  0.4  0.1  0.0  0.2  0.0
2  0.0  0.0  0.3  0.2  0.0  0.1  0.0  0.0  0.4  0.0
3  0.0  0.0  0.1  0.8  0.0  0.1  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.4  0.1  0.0  0.1  0.0  0.4

## 7dim space

In [77]:
from sklearn.decomposition import PCA

pca = PCA(n_components=7)
train_x7d = pca.fit_transform(train_x)
test_x7d = pca.fit_transform(test_x)

In [78]:
sel_x7d = test_x7d[selected]
dists_7d = []
for i in range(5):
  dist = fit(train_x7d, sel_x7d[i])
  dists_7d.append(dist)
  print("{}/5 done..".format(i+1))

1/5 done..
2/5 done..
3/5 done..
4/5 done..
5/5 done..

In [79]:
### 1 neighbor
probs = []
for i in range(5):
  probs.append(kNN(train_y, dists_7d[i], 1))
result = pd.DataFrame(probs, columns=['0','1','2','3','4','5','6','7','8','9'])
result.head()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
3  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0

In [80]:
### 5 neighbor
probs = []
for i in range(5):
  probs.append(kNN(train_y, dists_7d[i], 5))
result = pd.DataFrame(probs, columns=['0','1','2','3','4','5','6','7','8','9'])
result.head()

     0    1    2    3    4    5    6    7    8    9
0  0.2  0.6  0.0  0.2  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.8  0.0  0.0  0.2  0.0
2  0.0  0.0  0.2  0.0  0.0  0.0  0.0  0.0  0.8  0.0
3  0.0  0.0  0.4  0.0  0.0  0.0  0.6  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.2  0.2  0.0  0.4  0.0  0.2

In [82]:
### 10 neighbor
probs = []
for i in range(5):
  probs.append(kNN(train_y, dists_7d[i], 10))
result = pd.DataFrame(probs, columns=['0','1','2','3','4','5','6','7','8','9'])
result.head()

     0    1    2    3    4    5    6    7    8    9
0  0.1  0.8  0.0  0.1  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.7  0.0  0.0  0.3  0.0
2  0.0  0.0  0.1  0.0  0.0  0.0  0.0  0.0  0.9  0.0
3  0.0  0.0  0.3  0.0  0.0  0.0  0.6  0.0  0.1  0.0
4  0.0  0.0  0.0  0.0  0.1  0.1  0.0  0.6  0.0  0.2

# random forest

In [99]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100)
rf.fit(train_x, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [101]:
print(rf.predict(test_x[selected]))

[7 5 4 4 3]